<!DOCTYPE html>
<html lang="en">
<head>
	<title>Super Fruit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>



<div class="jumbotron text-center">
	<h1>Super Fruit</h1>
	<p> 
		<a href="{% url 'home-page' %}">Home</a>  | 
		<a href="{% url 'about-page' %}">About</a>  |
		<a href="{% url 'contact-page' %}">Contact</a> 

	 </p> 
</div>
	






<div class="container">

	<h3>ติดต่อเราได้อย่างไร</h3>
	<p> โทรหาเราได้เลย เบอร์มือถือ 083 662 3613</p>

</div>




</body>
</html>
