<!-- allproduct.html -->

{% extends 'myapp/base.html' %}

{% block content %}

	<h3>สินค้าทั้งหมดในร้าน</h3>
	<p>ตอนนี้เรามีสินค้าให้เลือกชมหลายรายการ</p>

	<div class="container-fluid">
		<div class="row">
		
		{% for pd in product %}
			<div class="col-sm-4">
				
				<div class="card" style="width: 300px; height: 600px;">
					{% if pd.image %}
						<img class="card-img-top" src="{{ pd.image.url }}" width="400" style="width: 300px; height: 250px; overflow: hidden;">
					{% elif pd.imageurl != None %}
						<img class="card-img-top" src="{{ pd.imageurl }}" width="400" style="width: 300px; height: 250px; overflow: hidden;">
					{% else %}
						<img class="card-img-top" src="/media/default.jpg" width="400" style="width: 300px; height: 250px; overflow: hidden;">
					
					{% endif %}
					<div class="card-body">
						<h1 class="card-title">{{ pd.name }}</h1>
						<p>ราคา {{ pd.price }} บาท/ {{ pd.unit }}</p>
						<p>{{ pd.detail |linebreaks|truncatechars_html:100  }}</p>

						{% if pd.quantity > 0 %}
							<p>สินค้ามีในสต๊อก {{ pd.quantity }} {{ pd.unit }}</p>
						{% else %}
							<p><font color="red">สินค้าอาจจะหมดสต๊อก กรุณาติดต่อแอดมิน</font></p>
						{% endif %}

						{% if pd.instock == True %}
							<a href="#" class="btn btn-success">สั่งซื้อ</a>
						{% else %}
							<a href="#" class="btn btn-warning">สินค้าหมดแล้ว</a>
						{% endif %}

					</div>
				</div>
					<br><br>
			</div>
			{% endfor %}
		</div>
	</div>
{% endblock content %}