<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Super Fruit</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom: 0;">
	<h1>Super Fruit</h1>
	<h6>เว็บขายผลไม้</h6>
</div>
	
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	<a class="navbar-brand" href="{% url 'home-page' %}">Super Fruit</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	 <span class="navbar-toggler-icon"></span>
	</button>
	
	<div class="collapse navbar-collapse" id="collapsibleNavbar">
		<ul class="navbar-nav mr-auto">

			<li class="nav-item">
				<a class="nav-link" href="{% url 'about-page' %}">เกี่ยวกับ</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'contact-page' %}">ติดต่อ</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{% url 'allproduct-page' %}">สินค้าทั้งหมด</a>
			</li>

			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ประเภทสินค้า</a>
				<div class="dropdown-menu" aria-labelledby="dropdown01">
					<a class="dropdown-item" href="#">สินค้านำเข้าจากญี่ปุ่น</a>
					<a class="dropdown-item" href="#">สินค้าจากไร่</a>
				</div>
				
			</li>
			
			{% if user.is_authenticated and user.profile.usertype == 'member' %}

				
				{% if user.profile.cartquan != 0 %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'mycart-page' %}">ตะกร้า<span class="badge badge-warning">{{user.profile.cartquan}}</span></a>
					</li>
				{% else %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'mycart-page' %}">ตะกร้า</a>
					</li>
				{% endif %}

				

			{% endif %}
			<li class="nav-item">
				{% if user.is_authenticated and user.profile.usertype == 'admin' %}
					<a class="nav-link" href="{% url 'addproduct-page' %}">เพิ่มสินค้า</a>  
				{% endif %}
			</li>
			
		</ul>
			{% if user.is_authenticated %}
				
				<img src="{{ user.profile.photo.url }}" width="40px" height="40px" class="rounded-circle">&nbsp&nbsp
				<p style="color: white; margin-top: 10px">สวัสดีคุณ&nbsp&nbsp{{user.first_name}} {{user.last_name}} &nbsp&nbsp [ {{user.profile.usertype}} ] </p>
				<a class="btn btn-secondary" href="{% url 'logout' %}">ออกจากระบบ</a>
			{% else %}
			<a class="btn btn-primary" href="{% url 'register-page' %}">สมัครสมาชิก</a>&nbsp&nbsp&nbsp
			<a class="btn btn-primary" href="{% url 'login' %}">เข้าสู่ระบบ</a>
			{% endif %}
			
	</div>
</nav>

<div class="container" style="margin-top: 30px;">
	{% block content %}


	{% endblock content %}


</div>

</body>
</html>
